<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>branch_app_domain</key>
	<string>openmed.test-app.link</string>
	<key>branch_key</key>
	<string>key_test_pmq7yA5VjrNIQXKYUptFbnbkxEmlYvEg</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OpenMed</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openmed</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>__RN_CONFIG_FACEBOOK_CUSTOM_URL_SCHEME</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>201710241230</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>071ae7313174ab876a71747cf531767025d3ea2a</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>__RN_CONFIG_FACEBOOK_APP_ID</string>
	<key>FacebookDisplayName</key>
	<string>__RN_CONFIG_FACEBOOK_APP_NAME</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>geoip.nekudo.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>Needs to connect to Contacts</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Needs to connect to Bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Needs to add event to calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Needs to take photo for profile</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use location to find the providers near you</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Needs to take photo for profile</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Needs to speech recognition</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>SFBlack.otf</string>
		<string>SFBold.otf</string>
		<string>SFBoldItalic.otf</string>
		<string>SFHeavy.otf</string>
		<string>SFHeavyItalic.otf</string>
		<string>SFLight.otf</string>
		<string>SFLightItalic.otf</string>
		<string>SFMedium.otf</string>
		<string>SFMediumItalic.otf</string>
		<string>SFRegular.otf</string>
		<string>SFRegularItalic.otf</string>
		<string>SFSemibold.otf</string>
		<string>SFSemiboldItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
